body {
	font-family: 'Lato';
	background-color: #121212;
	color: #D1D1D1;
}

a {
  color: inherit; 
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {	
	color: inherit;
    text-decoration: none;
}

h1 {
	font-size: 4vh;
	line-height: 1.2;
}

#fp-nav {
	margin-right: 20px;
}

#header, #footer{
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 0 0 0 0;
}

#header{
	top:0px;
}
#footer{
	bottom:0px;
}

#menu {
	list-style-type: none;
	padding: 15px 0px;
	float: right;
}

#menu li {
	display: inline;
	margin: 15px 20px;
	color: #D1D1D1;
	font-size: 1.25em;
}

#menu li.active {
	color: #86BBD8;
}

.brand {
	position: fixed;
	left: 30px;
	top: 15px;
	color: #86BBD8;
	margin: 0!important;
	font-size: 1.5em;
}
.brand span {
	font-weight: bolder;
}

.text-container {
	display: flex;
	justify-content: space-around;
}

.content {
	width: 70%;
	margin-left: -15%;
	margin-top: 200px;
	z-index: 2;
}

.content h1, h3, p {
	color: white;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
}
.video-foreground, .video-background video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    opacity: 0.65;
}

#webdevPage {
	background: url(https://d2gp7la54gkohp.cloudfront.net/images/code.jpg);
    background-size: cover;
    text-align: right;
}

#androidPage {
	background-color: #171717;
}

#contactPage {
	padding: 100px 20px!important;
}
#phone {
	max-width: 100%;
    height: auto;
    max-height: 500px;
    position: absolute;
    right: 100px;
    bottom: 20%;
}

#contactPage input, textarea {
	box-shadow: none;
	width: 99.9%;
	-webkit-transition: border-color .4s ease-in-out;
	-khtml-transition: border-color .4s ease-in-out;
	-moz-transition: border-color .4s ease-in-out;
	-ms-transition: border-color .4s ease-in-out;
	-o-transition: border-color .4s ease-in-out;
	transition: border-color .4s ease-in-out;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0);
	font-size: 1.125rem;
	margin: 0 0 10px;
	padding: 10px;
	border-width: 1px;
	border-color: #ccc;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: .875rem;
	margin: 0 0 1rem 0;
	padding: .5rem;
	height: 2.3125rem;
	width: 100%;
	transition: box-shadow .45s, border-color .45s ease-in-out;
	color: white;
	resize: none;
}

textarea {
	height: 150px;
}

input#btn_send {
	width: 100px;
	border: none;
	color: black;
	cursor: pointer;
	float: left;
	font-size: 1rem;
	margin: 0 15px 0 0;
	padding: 5px 12px 5px;
	text-transform: uppercase;
	-webkit-transition: background .4s ease-in-out;
	-khtml-transition: background .4s ease-in-out;
	-moz-transition: background .4s ease-in-out;
	-ms-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;
	transition: background .4s ease-in-out;
	background: #D1D1D1;
}

.links ul {
	list-style: none;
	text-align: right;
	margin-top: 200px;
}

#fp-nav ul li .fp-tooltip {
	font-family: 'Lato';
}

#copyright {
	position: absolute;
	bottom:-50px;
	right:10px;
}

.hide {
	display: none;
}

#instagram-col {
	text-align: right;
}

// .icon-facebook {
// 	background: url(https://d2gp7la54gkohp.cloudfront.net/images/fb_logo.png);
// }

@media (max-width: 1150px) {
	#menu {
		padding-top: 20px;
	}
	#menu li {
		font-size: 1em;
	}
	#instagram-col {
		text-align: center;
		padding-top: 30px;
	}
}

@media (min-width: 500px) and (max-width: 990px) {
	#menu {
		float: left;
	    margin-top: 40px;
	    margin-left: 10px;
	    text-align: left;
	}
}

@media (max-width: 500px) {
	.brand {
		left: 20px;
		top: 10px;
	}
	#menu {
		margin-top: 25px;
		float: none;
	}
	#menu li {
		display: block;
		margin: 5px 20px;
		text-align: left;
		font-size: .9em;
	}

	.content {
		z-index: 2;
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
		padding: 20px;
	}
	.content h1 {
		font-size: 3vh;
	}
	.content h3 {
		font-size: 2.5vh;
	}
	.aerialh1, .starth1 {
		margin-top: 200px;
	}
	.video-background {
		display: none;
	}
	#startPage {
		background: url(https://d2gp7la54gkohp.cloudfront.net/images/start.jpg) center center;
        background-size: auto 100%!important;
	}
	#aerialPage {
		background: url(https://d2gp7la54gkohp.cloudfront.net/images/aerial.jpg) center center;
		background-size: auto 100%!important; 
	}
	#webdevPage {
		background: url(https://d2gp7la54gkohp.cloudfront.net/images/code2.jpg);
		background-size: 400px;
	}
	#header {
		height: 200px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 34%, rgba(0,0,0,0.8) 77%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 34%,rgba(0,0,0,0.8) 77%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.8) 34%,rgba(0,0,0,0.8) 77%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	#phone{
    margin: 0 auto;
    position: static;
  	}
  	#androidHeadline {
  		margin-top: 0px;
  	}
  	#interested {
  		display: none;
  	}

}
